@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --_1iiu2e00: #fff;
  --_1iiu2e01: #005BBB;
  --_1iiu2e02: #005BBB;
  --_1iiu2e03: #EFF6FF;
  --_1iiu2e04: #004287;
  --_1iiu2e05: #000;
  --_1iiu2e06: #fff;
  --_1iiu2e07: #FFDD75;
  --_1iiu2e08: #8B5E00;
  --_1iiu2e09: #000;
  --_1iiu2e0a: -0;
  --_1iiu2e0b: 4px;
  --_1iiu2e0c: 8px;
  --_1iiu2e0d: 16px;
  --_1iiu2e0e: 32px;
  --_1iiu2e0f: 64px;
  --_1iiu2e0g: 128px;
  --_1iiu2e0h: 200px;
  --_1iiu2e0i: 370px;
  --_1iiu2e0j: 500px;
  --_1iiu2e0k: 250px;
  --_1iiu2e0l: -4px;
  --_1iiu2e0m: -8px;
  --_1iiu2e0n: -16px;
  --_1iiu2e0o: -32px;
  --_1iiu2e0p: -64px;
  --_1iiu2e0q: -128px;
  --_1iiu2e0r: -200px;
  --_1iiu2e0s: -370px;
  --_1iiu2e0t: -500px;
  --_1iiu2e0u: -250px;
  --_1iiu2e0v: 12px;
  --_1iiu2e0w: 14px;
  --_1iiu2e0x: 16px;
  --_1iiu2e0y: 18px;
  --_1iiu2e0z: 24px;
  --_1iiu2e010: 34px;
  --_1iiu2e011: 48px;
  --_1iiu2e012: 64px;
  --_1iiu2e013: 400;
  --_1iiu2e014: 500;
  --_1iiu2e015: 600;
  --_1iiu2e016: 700;
  --_1iiu2e017: 800;
  --_1iiu2e018: Open Sans;
  --_1iiu2e019: roboto;
  --_1iiu2e01a: 1.65;
  --_1iiu2e01b: 1.25;
  --_1iiu2e01c: 1.1;
  --_1iiu2e01d: 1;
  --_1iiu2e01e: 0;
  --_1iiu2e01f: -0.02em;
  --_1iiu2e01g: 0.08em;
  --_1iiu2e01h: 1280px;
  --_1iiu2e01i: 1152px;
  --_1iiu2e01j: 1024px;
  --_1iiu2e01k: 1440px;
  --_1iiu2e01l: 960px;
  --_1iiu2e01m: 848px;
  --_1iiu2e01n: 48px;
  --_1iiu2e01o: 300px;
  --_1iiu2e01p: 400px;
  --_1iiu2e01q: 32px;
  --_1iiu2e01r: 500px;
  --_1iiu2e01s: 30px;
  --_1iiu2e01t: 15px;
  --_1iiu2e01u: 24px;
  --_1iiu2e01v: 999px;
  --_1iiu2e01w: 0px 4px 8px 0px #2e29330a, 0px 4px 24px 0px #2e293314, 0px 8px 24px 0px #473f4f29
}

.tdi9mq0 {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--_1iiu2e01h);
  padding-left: var(--_1iiu2e0e);
  padding-right: var(--_1iiu2e0e);
  /* margin-top: -5rem; */
}

.solution_card {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--_1iiu2e01h);
  padding-left: var(--_1iiu2e0e);
  padding-right: var(--_1iiu2e0e);
  margin-top: -5rem;
}

.tdi9mq4 {
  max-width: var(--_1iiu2e01i);
}



.home_dev_card {
  background: linear-gradient(47deg, rgba(69, 52, 114, 0.87) 1.8%, rgba(47, 35, 90, 0.00) 39.32%), linear-gradient(245deg, rgba(97, 80, 165, 0.75) -4.52%, rgba(99, 82, 168, 0.00) 33.5%), linear-gradient(224deg, #172271 9.84%, rgba(0, 0, 0, 0.00) 66.2%), #040229;
  padding-top: 65px;
}

.dev_flex_home {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 0rem;
}

.margin_our {
  margin-top: 4rem;
}

.videoTag {
  opacity: 0.2;
  position: absolute;
  width: 100%;
}

.home_dev_font {
  color: #FFF;
  font-family: 'Inter';
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 79px;
  /* 121.538% */
  position: relative;
}

.home_dev1_Revenue {
  background: linear-gradient(91deg, #FCE26B 8.63%, #FE685F 24.3%, #FF40A6 44.29%, #C26FFD 68.83%, #01F2F6 86.35%, #01FEAD 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.home_botton {
  border-radius: 13px;
  background: linear-gradient(180deg, #FFF264 0%, #FFB334 100%);
  border: none;
  color: #0F1825;
  font-family: Inter;
  font-size: 15.812px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.966px;
  /* 126.273% */
  position: relative;
}

.home_dev2_get {
  color: #D6E9FF;
  font-family: 'Inter';
  font-size: 17.359px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.831px;
  /* 120% */
  letter-spacing: 0.434px;
  position: relative;
}

.homestar_color {
  color: #F3CD03;
  position: relative;
}

.home_dev3_our {
  color: #E6E6EA;
  text-align: justify;
  font-family: Inter;
  font-size: 18.725px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.528px;
  /* 141.667% */
  position: relative;
}

.home_font1_aswin {
  color: #E6E6EA;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 18.725px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.528px;
  /* 141.667% */
  position: relative;
}

.home_font2_aswin {
  color: #E6E6EA;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 12.602px;
  font-style: normal;
  font-weight: 300;
  line-height: 26.528px;
  /* 210.498% */
  position: relative;
}

.dev_flex1_home {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home_dev5_card {
  background: #2F2F2F;
  position: relative;
}

.home_webfont {
  color: #FFF;
  text-align: center;
  font-family: 'Inter';
  font-size: 23.052px;
  font-style: normal;
  font-weight: 300;
  line-height: 30.994px;
  /* 134.455% */
}

.Homeimage4_width {
  width: 3vw;
  position: relative;
}

.home_card3_bg {
  background: #FDF9FF;
  position: relative;
  /* height: 100vh; */
}

.home_gride {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.home_gride_bg_color {
  background: linear-gradient(119deg, #522A88 41.77%, rgba(82, 42, 136, 0.00) 89.86%);
}

.home_yourfont1 {
  color: #FFF;
  font-family: Inter;
  font-size: 46.062px;
  font-style: normal;
  font-weight: 300;
  line-height: 60.319px;
  /* 130.952% */
}

.Homeimage5_style {
  width: 100%;
}

.home_arefont2 {
  color: #FDF9FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  /* 194.444% */
}

.home_yourfont1_Expert {
  color: #FFF;
  font-family: Inter;
  font-size: 46.062px;
  font-style: normal;
  font-weight: 700;
  line-height: 60.319px;
}

.BsChevronDown_style {
  border: none;
  background: #FDF9FF;
  color: #A903C4;
}

.home_Responsive {
  color: #010101;
  font-family: 'inter';
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.107px;
  /* 96.564% */
}

.home_get_style {
  border-radius: 16px;
  border: 1px solid #010101;
  background: #522A88;
  color: #FFF;
  font-family: Inter;
  font-size: 15.812px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.966px;
  /* 126.273% */
}

.home_get_style:hover {
  border-radius: 16px;
  border: 1px solid #010101;
  background: #404040;
  color: #FFF;
  font-family: Inter;
  font-size: 15.812px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.966px;
  /* 126.273% */
}

.home_card4_bg {
  background: linear-gradient(180deg, #F9DDE5 0%, rgba(241, 232, 235, 0) 100%);
  /* height: 100vh; */
}

.home_mostly_font {
  color: #010101;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.107px;
  /* 83.688% */
}

.home_mostly_font1 {
  color: #6864ED;
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.107px;
  /* 96.564% */
  text-decoration-line: underline;
  cursor: pointer;
}

.Homeimage6_width {
  width: 30vw;
}

.FrameHome9_style {
  width: 30vw;
}

.Hpme_card5_bg {
  background: linear-gradient(224deg, #172271 9.84%, rgba(0, 0, 0, 0.00) 66.2%), #040229;
  height: 157vh;
}

.bg_home_card_makes {
  border-radius: 20.879px;
  border: 1px solid rgba(3, 177, 255, 0.52);
  background: url('../Images/HomeImages/home_makebg.svg'), lightgray 0% 0% / 134.16786193847656px 134.16786193847656px repeat, radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  background-blend-mode: overlay, normal;
  /* backdrop-filter: blur(34.79788589477539px); */
  /* width: 80%; */
  width: 100%;
  height: 100vh;
}

.what_home_bg {
  color: #FFF;
  text-align: center;
  font-family: 'Inter';
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* letter-spacing: 0.55px; */
}

.choice_homebg {
  border-radius: 30.699px;
  background: #C6148A;
}

.Generation_home {
  color: #FFF;
  font-family: inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 133.333% */
}

.home_Create_font {
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: start;
}

.home_card6_bg {
  background: linear-gradient(224deg, #172271 9.84%, rgba(0, 0, 0, 0.00) 66.2%), #040229;
  /* height: 140vh; */
}

.system_homeimage {
  position: relative;
  z-index: 999;
  width: 100%;
}

.Homeimage2_button {
  text-align: start;
}

.system_homeimage13 {
  /* -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; */
  width: 100%;
  text-align: center;
}

.system_homeimage12 {
  width: 100%;
  /* -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; */
}

.corosal_image {
  text-align: center;
  width: 50%;
}

.higher_home1 {
  text-align: start;
}

.Covering_hme_font {
  background: linear-gradient(91deg, #3634A0 8.63%, #DE0E86 91.72%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Inter;
  font-size: 46.062px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.319px;
  /* 130.952% */
}

.Design_home_font {
  background: linear-gradient(91deg, #3634A0 8.63%, #DE0E86 91.72%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 46.062px;
  font-style: normal;
  font-weight: 700;
  line-height: 60.319px;
}

.Nexgen_home_at {
  color: #200229;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 133.333% */
}

.Proposal_home_button {
  border-radius: 6px;
  background: #4F2085;
  color: #FDF9FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.77px;
  /* 143.166% */
  border: none;
  width: 15%;
}

.Proposal_home_button1 {
  border-radius: 6px;
  border: 1px solid #B2B2B2;
  background: #FFF;
  color: #0F1825;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.77px;
  /* 143.166% */
  width: 15%;
}

.button_flex_homeget {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.home_bg_images {
  background: url('../Images/HomeImages/bg_home_caontener.svg');
  background-blend-mode: overlay, normal;
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  .dev_flex_home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .Homeimage2_button {
    text-align: center;
  }

  .corosal_image {
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;

  }

  .higher_home1 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: start;
    width: 100%;
  }

  .videoTag {
    z-index: -1;
    position: absolute;
    width: 100%;
  }

  .dev_flex1_home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .home_dev_font {
    color: #FFF;
    font-family: 'Inter';
    font-size: 37.369px;
    font-style: normal;
    font-weight: 600;
    line-height: 52.173px
  }

  .home_dev1_Revenue {
    background: linear-gradient(91deg, #FCE26B 8.63%, #FE685F 24.3%, #FF40A6 44.29%, #C26FFD 68.83%, #01F2F6 86.35%, #01FEAD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .home_botton {
    border-radius: 13px;
    background: linear-gradient(180deg, #FFF264 0%, #FFB334 100%);
    border: none;
    color: #0F1825;
    font-family: 'Inter';
    font-size: 10.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.835px;
    /* 126.273% */
  }

  .home_dev2_get {
    color: #D6E9FF;
    font-family: 'Inter';
    font-size: 17.359px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.831px;
    /* 120% */
    letter-spacing: 0.434px;
  }

  .homestar_color {
    color: #F3CD03;
  }

  .home_dev3_our {
    color: #E6E6EA;
    text-align: justify;
    font-family: Inter;
    font-size: 18.725px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.528px;
    /* 141.667% */
  }

  .home_font1_aswin {
    color: #E6E6EA;
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 18.725px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.528px;
    /* 141.667% */
  }

  .home_font2_aswin {
    color: #E6E6EA;
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 12.602px;
    font-style: normal;
    font-weight: 300;
    line-height: 26.528px;
    /* 210.498% */
  }

  .home_gride {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .FrameHome9_style {
    width: 50vw;
  }

  /* .Hpme_card5_bg {
    background: linear-gradient(224deg, #172271 9.84%, rgba(0, 0, 0, 0.00) 66.2%), #040229;
    height: 152vh;
  } */

  .home_yourfont1 {
    background: linear-gradient(91deg, #3634A0 8.63%, #DE0E86 91.72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 46.062px;
    font-style: normal;
    font-weight: 300;
    line-height: 60.319px;
    /* 130.952% */
  }

  .Homeimage5_style {
    width: 100%;
  }

  .home_arefont2 {
    color: #333;
    font-family: Inter;
    font-size: 9.471px;
    font-style: normal;
    font-weight: 600;
    line-height: 14.631px;
    /* 154.476% */
  }

  .BsChevronDown_style {
    border: none;
    background: #FDF9FF;
    color: #A903C4;
  }

  .home_Responsive {
    color: #010101;
    font-family: inter;
    font-size: 13.681px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.211px;
    /* 96.564% */
  }

  .home_get_style {
    border-radius: 16px;
    border: 1px solid #010101;
    background: #404040;
    color: #FFF;
    font-family: Inter;
    font-size: 8.32px;
    font-style: normal;
    font-weight: 700;
    line-height: 10.506px;
    /* 126.273% */
  }

  .home_card4_bg {
    background: linear-gradient(180deg, #F9DDE5 0%, rgba(241, 232, 235, 0) 100%);
    /* height: 100vh; */
  }

  .home_mostly_font {
    color: #010101;
    text-align: center;
    font-family: Inter;
    font-size: 15.317px;
    font-style: normal;
    font-weight: 600;
    line-height: 12.818px;
    /* 83.688% */
  }

  .home_mostly_font1 {
    color: #6864ED;
    text-align: center;
    font-family: Inter;
    font-size: 13.275px;
    font-style: normal;
    font-weight: 600;
    line-height: 12.818px;
    /* 96.564% */
    text-decoration-line: underline;
    cursor: pointer;
  }

  .Homeimage6_width {
    width: 20vw;
  }


  .Hpme_card5_bg {
    background: linear-gradient(224deg, #172271 9.84%, rgba(0, 0, 0, 0.00) 66.2%), #040229;
    height: 100%;
  }

  .bg_home_card_makes {
    border-radius: 20.879px;
    /* backdrop-filter: blur(34.79788589477539px); */
    width: 90%;
    /* height: 100vh; */
  }

  .what_home_bg {
    background: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 23.327px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.233px;
  }

  .choice_homebg {
    border-radius: 30.699px;
    background: #C6148A;
  }

  .Generation_home {
    color: #FFF;
    font-family: inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */
  }

  .home_Create_font {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 23.327px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.233px;
  }

  .home_card6_bg {
    background: linear-gradient(224deg, #172271 9.84%, rgba(0, 0, 0, 0.00) 66.2%), #040229;
    /* height: 140vh; */
  }

  .system_homeimage13 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    text-align: center;
  }

  .system_homeimage12 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}


.sideBar {
  height: 100%;
  width: 400px;
  height: 100%;
}

.stepSummary {
  width: 80px;
  height: 100%;
}

.mainSection {
  height: 50%;
  width: calc(100% - 400px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
}

.MuiPaper-root {
  background-color: none;
}

.step_bg_line {
  color: #FFFFFF;
}

.Register_home {
  color: #FFF;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 133.333% */
}

.Create_home_font1 {
  color: #ABE5FF;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.376px;
  /* 161.033% */
}


.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */
.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  /* background-color: #c4c4c4; */
}

.slideshowDot.active {
  background-color: #FFF;
}

.carsusel_bg {
  background: none !important;
}


.your_faq {
  border-radius: 12px;
  background: conic-gradient(from 21deg at 60.16% 50.15%, #892B85 0deg, #28005E 360deg);
  height: 30vh;
  display: grid;
  flex: 1 1;
  grid-template-columns: 50% 50%;
  justify-content: center;
  padding: 0.5rem 2.5rem;
}

.Call_faq_style {
  border-radius: 17.901px;
  background: linear-gradient(180deg, #FFF264 0%, #FFB334 100%);
  color: #050427;
  text-align: center;
  font-family: Inter;
  font-size: 23.408px;
  font-style: normal;
  font-weight: 700;
  border: none;
  line-height: 100%;
  /* 23.408px */
}

.Digital_faq {
  text-align: start;
  color: #FFF;
  font-family: Inter;
  font-size: 32.114px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.461px;
}

.Digital_faq1 {
  color: #FFE359;
  font-family: Inter;
  font-size: 32.114px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.461px;
}

.home_Happy_font {
  color: #FDF9FF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.faont_47_home {
  color: #FDF9FF;
  font-family: 'Poppins';
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Reviews_font_home {
  color: #F5F5F5;
  font-family: Helvetica;
  font-size: 11.298px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.337px;
  /* 126.891% */
}

.font_5P_home {
  color: #F5F5F5;
  font-family: Helvetica Neue;
  font-size: 27.859px;
  font-style: normal;
  font-weight: 700;
  line-height: 34.824px;
  /* 125% */
}

.ensuring_flex_home {
  display: flex;
  gap: 1rem;
  justify-content: start;
}

.border_happy_font {
  border-right: 2px solid #B1A3AC;
  height: 50px;
}

.Design_home_card12 {
  border-radius: 12px;
  border: 1px solid #E7E7E7;
  background: #FFF;
  box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08), 0px 2px 4px -2px rgba(24, 39, 75, 0.12);


  padding: 1rem;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.Design_home_card12:hover {
  transition: 0.5s ease;
  transform: translate(0, -50px);
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14), 0px 8px 28px -6px rgba(24, 39, 75, 0.12);

}

.margi_top_desine {
  margin-top: -6rem;
}

.Responsive_font_home {
  color: #27272E;
  font-family: Inter;
  font-size: 23.399px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.202px;
  letter-spacing: -0.741px;
}

.Fintech_home_font {
  color: #425466;
  font-family: Inter;
  font-size: 14.806px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.059px;
  /* 148.983% */
}

.home_bg_images {
  background: #FFF;
  background-blend-mode: overlay, normal;
  width: 100%;
  height: 100%;
}

.margi_top_desine {
  margin-top: 0.2rem;
}












.heading {

  color: #FFF;
  font-family: 'Inter';
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 79px;

}




.heading_card {
  width: 75%;
  background: transparent;
  border-radius: 1.5em;
  color: whitesmoke;

  cursor: pointer;

}



.scroller {
  height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}

.scroller>span {
  background: linear-gradient(91deg, #FCE26B 8.63%, #FE685F 24.3%, #FF40A6 44.29%, #C26FFD 68.83%, #01F2F6 86.35%, #01FEAD 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  position: absolute;
  top: 0;
  animation: slide 7s infinite;
  font-weight: bold;

}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -1.2em;
  }

  50% {
    top: -2.4em;
  }

  75% {
    top: -3.6em;
  }

  100% {
    top: -5em;
  }
}