.nav_bg {
    background: #FFF;
}



.navdisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bg12 {
    background: #FFF;
}

.nav_bgfont {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/* .active {
    background: linear-gradient(224deg, #172271 9.84%, rgba(0, 0, 0, 0.00) 66.2%), #040229;
} */

/* .nav_bg1 {
    background: linear-gradient(224deg, #172271 9.84%, rgba(0, 0, 0, 0.00) 66.2%), #040229;
} */

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: white;
    position: fixed;
    z-index: 1;
    padding: 0.5rem 5rem;
    top: 0;
    right: 0;
    left: 0;
}

.nav1.nav12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 1;
    padding: 0.5rem 5rem;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(224deg, #172271 9.84%, rgba(0, 0, 0, 0.00) 66.2%), #040229;
}

.nav1 .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav1 .ul1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 0.5rem;
}

.nav1 .ul1 .li1 {
    list-style: none;
}

.nav1 .ul1 .li1 a {
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
}

/* nav ul li a:not(.active):hover {
    background-color:#172554 ;
} */

.nav1 .menu {
    display: none;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.nav1 .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

/* .nav1 .ul1 .li1 a:hover,
.nav1 .ul1 .li1 span {
    border-color: white;
    border-left-color: black;
    border-top-color: black;
    color: white;
}

.nav1 .ul1 .li1 a:active,
.nav1 .ul1 .li1 span {
    border-color: white;
    border-left-color: black;
    border-top-color: black;
    color: white;
    background-color: #adadad;
} */

.nav_bgfont1 {
    color: red;
}

@media (max-width: 768px) {
    .nav1 .menu {
        display: flex;
    }

    .nav1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav1 .ul1 {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .nav1 .ul1.open {
        display: flex;
    }

    .nav1 .ul1 .li1 {
        width: 100%;
        text-align: center;
    }

    .nav1 .ul1 .li1 a {
        margin: 0.2rem 0.5rem;
    }
}